@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1D1E20;
  color: #DADADB;
  width: 100%;
  margin: 0 auto;
  padding: 40px 150px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 2rem;
  }
}

a {
  text-decoration: none;
  color: #DADADB;
}

li {
  list-style: none;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #1D1E20;
}

.nav-container .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-btn {
  background-color: #FFCC1A;
  color: #1D1E20;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #DADADB;
}

/* Footer */
hr {
  border: none;
  background-color: #9B9C9D;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #1D1E20;
}

.footer-container p {
  font-size: 0.8rem;
  color: #9B9C9D;
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #9B9C9D;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #DADADB;
}

/* Hero */

.hero-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.hero-container .profile-img {
  --b: 5px; /* border thickness */
  --f: 1; /* initial scale */
  
  width: 280px;
  aspect-ratio: 1;
  cursor: pointer;
  background: 
    radial-gradient(
      circle closest-side,
      #ECD078 calc(99% - var(--b)),#C02942 calc(100% - var(--b)) 99%,#0000
     ) 50%/calc(100%/var(--f)) 100% no-repeat;
  transform: scale(var(--f));
  transition: .5s;

}
.hero-container .profile-img:hover {
  transform: scale(1.1);
  --f: 1.35;
}

.hero-container .hero-text {
  text-align: center;
  margin: 1rem 0;
  width: 80%;
}

.banner-bottom-icon {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%,-50%);
}
@keyframes colorSlide {
  0% {
      background-position: 0 100%
  }

  20% {
      background-position: 0 0
  }

  21% {
      background-color: #f34933
  }

  29.99% {
      background-color: #fff;
      background-position: 0 0
  }

  30% {
      background-color: #f34933;
      background-position: 0 100%
  }

  50% {
      background-position: 0 0
  }

  51% {
      background-color: #f34933
  }

  59% {
      background-color: #fff;
      background-position: 0 0
  }

  60% {
      background-color: #f34933;
      background-position: 0 100%
  }

  80% {
      background-position: 0 0
  }

  81% {
      background-color: #f34933
  }

  100%,90% {
      background-color: #fff
  }
}
@keyframes nudgeMouse {
  0% {
      transform: translateY(0)
  }

  20% {
      transform: translateY(8px)
  }

  30% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(8px)
  }

  60% {
      transform: translateY(0)
  }

  80% {
      transform: translateY(8px)
  }

  90% {
      transform: translateY(0)
  }
}
.mouse {
  background: #f34933 linear-gradient(transparent 0,transparent 50%,#fff 50%,#fff 100%);
  position: relative;
  width: 50px;
  height: 77px;
  align-items: center;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before {
  width: 44px;
  height: 71px;
  background-color: #031931;
  border-radius: 100px;
}
.mouse:after, .mouse:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}



#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 85vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes colorText {
  21% {
      color: #f34933
  }

  30% {
      color: #fff
  }

  51% {
      color: #f34933
  }

  60% {
      color: #fff
  }

  81% {
      color: #f34933
  }

  90% {
      color: #fff
  }
}
@keyframes nudgeText {
  0% {
      transform: translateY(0)
  }

  20% {
      transform: translateY(2px)
  }

  30% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(2px)
  }

  60% {
      transform: translateY(0)
  }

  80% {
      transform: translateY(2px)
  }

  90% {
      transform: translateY(0)
  }
}
.banner-bottom-icon p {
  margin-top: 20px;
  color: #fff;
  -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
  animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}


@media screen and (max-width: 768px) {
  .hero-container .hero-text {
    width: 100%;
  }
}

.hero-container .hero-text h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-container .hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-container .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.5rem;
 
}

.hero-container .social-icons a {
  color: #9B9C9D;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.hero-container .social-icons a:hover {
  color: #DADADB;
}

/* About */
.about-container {
  padding: 1rem 0;
}

.about-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-container .flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.about-container .flex-about .about-text {
  width: 50%;
}

.about-container .flex-about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.about-container .flex-about .about-img {
  width: 50%;
}

.about-container .flex-about .about-img .profile-img {
  overflow: hidden;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 2px solid #DADADB;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  cursor: cell;
}

.about-container .flex-about .about-img .profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
  }

  .about-container .flex-about .about-text {
    width: 100%;
  }

  .about-container .flex-about .about-img {
    width: 100%;
  }
}

/* Skills */
.skills-container {
  padding: 2rem 0;
}

.skills-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-container .grid-skills .skill-card {
  background-color: #DADADB;
  color: #1D1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}

.skills-container .grid-skills i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .html:hover {
  background-color: #E34F26;
}

.skills-container .grid-skills .css:hover {
  background-color: #264DE4;
}

.skills-container .grid-skills .js:hover {
  background-color: #F7DF1E;
}

.skills-container .grid-skills .react:hover {
  background-color: #61DAFB;
}

.skills-container .grid-skills .node:hover {
  background-color: #339933;
}

.skills-container .grid-skills .python:hover {
  background-color: #3776AB;
}

/* Projects */
.projects-container {
  padding: 2rem 0;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #FFCC17;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .small-icons a:hover {
  color: #FFCC17;
}

.project-card .project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card .project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b3b3b3;
}

/* contact */
.contact-container {
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}


/* About Box */
.about-box .about-box-top{ width:100px;  height:100px;border:2px solid #3176EC;border-radius:8px;background:#fff;text-align:center;display:flex;align-items:center;justify-content:center;box-shadow:0 5px 30px -5px rgba(0,0,0,0.2)}
.about-box .about-box-middle{width:200px;  height:200px; border:2px solid #F2762E;border-radius:8px;background:#fff;margin-left:5%;margin-top:-20px;overflow:hidden;position:relative;box-shadow:0 5px 30px -5px rgba(0,0,0,0.2)}
.about-box .about-box-bottom{ width:100px;  height:100px;border:2px solid #EC313E;border-radius:8px;background:#fff;text-align:center;display:flex;align-items:center;justify-content:center;margin-left:50%;margin-top:-20px;box-shadow:0 5px 30px -5px rgba(0,0,0,0.2)}